.listItem {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    list-style-type: none;
}

.listItem:hover {
    background-color: #ebebeb;
    color: #000;
}

.container {
    min-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leftBox {
    width: 400px;
}

.rightBox {
    width: 400px;
}